# Frontend Environment Variables
VITE_API_BASE_URL=http://localhost:8080/api

# Supabase Public Credentials
VITE_SUPABASE_URL=https://ughvlbsqdciytocgpkjc.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_Gut0P9vJ3OPrae_42HkBaw_EqqbJvBW
